.navbar-custom {
    background-color: #800000;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #123e12;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #c0c0c2;;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #dde007;
}


